-#%button.btn.btn-default.btn-lg{"aria-label" => "Left Align", :type => "button"}
-#  %span.glyphicon.glyphicon-plus{"aria-hidden" => "true"}
-#%button.btn.btn-default.btn-lg{:type => "button"}
-#  %span.glyphicon.glyphicon-star{"aria-hidden" => "true"}
-#  Star
%button.btn.btn-primary.btn-lg{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"}
  Створити проект