.panel.panel-default
  / Default panel contents
  .panel-heading Panel heading
  .panel-body
    %p ...
  / Table
  %table.table
    %thead
      %tr
        %th №
        %th Name
        %th Team
        %th Progress
        %th Created At
    %tbody
      %tr
        %th 1
        %td Project 1
        %td Team 1
        %td 50%
        %td 25.02.2015
    %tbody
      %tr
        %th 2
        %td Project 2
        %td Team 2
        %td 10%
        %td 25.02.2015
